<a href="https://colab.research.google.com/github/parthvshah/lbw-classification/blob/master/GNB_LBW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np
style.use('ggplot')
import pandas as pd

In [0]:
#lbw1=pd.read_csv('ML.csv') #,encoding = "ISO-8859-1")

In [0]:
#lbw2=pd.read_csv('ML_1.csv')

In [0]:
# lbw1

In [0]:
#lbw2=lbw2.iloc[:, list(range(9))]
#print(lbw2)

In [0]:
#lbw=lbw1.append(lbw2)

In [0]:
lbw=pd.read_csv('part_1_0.csv')

In [509]:
lbw

     community  age  weight  history   Hb  IFA        BP  res  reslt
0            1   26      37        1  5.9    1  1.444444    1      0
1            1   21      42        1  9.2    1  1.375000    1      0
2            1   21      36        1  8.8    1  1.500000    1      0
3            1   21      36        1  9.2    1  2.125000    1      0
4            1   21      36        1  8.0    1  1.375000    1      0
..         ...  ...     ...      ...  ...  ...       ...  ...    ...
96           3   21      55        1  9.0    0  1.375000    1      1
97           3   24      39        6  8.4    0  1.500000    1      1
98           3   24      50        1  9.1    0  1.375000    1      1
99           1   24      38        1  9.1    0  1.696758    1      1
100          3   21      50        1  9.0    1  1.375000    1      1

[101 rows x 9 columns]

In [0]:
X = lbw.drop("reslt", axis=1)
X=X.drop("history",axis=1)

y = lbw["reslt"]

In [511]:
y

0      0
1      0
2      0
3      0
4      0
      ..
96     1
97     1
98     1
99     1
100    1
Name: reslt, Length: 101, dtype: int64

In [512]:
X

     community  age  weight   Hb  IFA        BP  res
0            1   26      37  5.9    1  1.444444    1
1            1   21      42  9.2    1  1.375000    1
2            1   21      36  8.8    1  1.500000    1
3            1   21      36  9.2    1  2.125000    1
4            1   21      36  8.0    1  1.375000    1
..         ...  ...     ...  ...  ...       ...  ...
96           3   21      55  9.0    0  1.375000    1
97           3   24      39  8.4    0  1.500000    1
98           3   24      50  9.1    0  1.375000    1
99           1   24      38  9.1    0  1.696758    1
100          3   21      50  9.0    1  1.375000    1

[101 rows x 7 columns]

In [0]:
import pandas as pd
from sklearn import preprocessing
#normalize
x =X #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X= pd.DataFrame(x_scaled)

In [514]:
X

            0         1         2         3    4         5    6
0    0.000000  0.428571  0.200000  0.000000  1.0  0.019286  0.0
1    0.000000  0.190476  0.342857  0.647059  1.0  0.013807  0.0
2    0.000000  0.190476  0.171429  0.568627  1.0  0.023669  0.0
3    0.000000  0.190476  0.171429  0.647059  1.0  0.072978  0.0
4    0.000000  0.190476  0.171429  0.411765  1.0  0.013807  0.0
..        ...       ...       ...       ...  ...       ...  ...
96   0.666667  0.190476  0.714286  0.607843  0.0  0.013807  0.0
97   0.666667  0.333333  0.257143  0.490196  0.0  0.023669  0.0
98   0.666667  0.333333  0.571429  0.627451  0.0  0.013807  0.0
99   0.000000  0.333333  0.228571  0.627451  0.0  0.039192  0.0
100  0.666667  0.190476  0.571429  0.607843  1.0  0.013807  0.0

[101 rows x 7 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [516]:
X_train

           0         1         2         3    4         5    6
79  0.000000  0.380952  0.571429  0.000000  1.0  0.018033  1.0
33  1.000000  0.190476  0.200000  0.627451  1.0  0.013807  0.0
74  0.666667  0.285714  0.400000  0.882353  1.0  0.013807  0.0
7   1.000000  0.428571  0.028571  0.607843  1.0  0.033531  0.0
25  1.000000  0.333333  0.171429  0.607843  0.0  0.036413  0.0
..       ...       ...       ...       ...  ...       ...  ...
39  1.000000  0.333333  0.514286  0.725490  1.0  0.010493  1.0
49  0.666667  0.380952  0.428571  0.666667  1.0  0.013807  0.0
36  0.000000  0.238095  0.142857  0.588235  1.0  0.023669  0.0
53  0.666667  0.857143  0.685714  0.588235  1.0  0.040575  0.0
55  0.333333  0.238095  0.285714  0.588235  1.0  0.013807  0.0

[85 rows x 7 columns]

In [517]:
y_train

79    1
33    1
74    1
7     0
25    0
     ..
39    1
49    1
36    1
53    1
55    1
Name: reslt, Length: 85, dtype: int64

Calculated Prior Probabilities for the classes

In [518]:
def get_count_unique_vals(labels):
  return dict(labels.value_counts())


def prior_prob(labels):
    counts=get_count_unique_vals(labels)
    number_of_instances=labels.count()
    #counts = labels.value_counts().to_dict()
    print(counts.items())
    priors={(key,value/number_of_instances) for key, value in counts.items()}
    #prior_prob={key,value/}
    return priors
    
priors=prior_prob(y_train)
print(priors)

dict_items([(1, 64), (0, 21)])
{(1, 0.7529411764705882), (0, 0.24705882352941178)}

In [0]:
# yy=y_train==0
# yy.iloc[21]

In [0]:
# filtered_training_set=X_train[(y_train==0)]
# print(filtered_training_set)
# print(y_train[(y_train== 0)])

In [520]:
y_train

79    1
33    1
74    1
7     0
25    0
     ..
39    1
49    1
36    1
53    1
55    1
Name: reslt, Length: 85, dtype: int64

Calculate Mean and Variance For all Features

In [0]:
import math

In [0]:
def calculate_mean(df):
  return df.mean()
def calculate_std_dev(df):
  return df.std()

def Calculate_Mean_and_Variance(X_train,y_train):
  mean_and_variance_for_class={}
  classes=y_train.unique()
  for everyclass in classes:
      filtered_training_set=X_train[(y_train==everyclass)]
      mean_and_variance=dict()
      for every_attribute in list(X_train.columns.values):
          particular_attribute=filtered_training_set[every_attribute]
          mean_and_variance[every_attribute]=[]
          mean_for_this_attribute=calculate_mean(particular_attribute)
          mean_and_variance[every_attribute].append(mean_for_this_attribute)
          std_dev_for_this_attribute=calculate_std_dev(particular_attribute)
          var_for_this_attribute=math.pow(std_dev_for_this_attribute,2)
          mean_and_variance[every_attribute].append(var_for_this_attribute)
      mean_and_variance_for_class[everyclass]=mean_and_variance
  return mean_and_variance_for_class

In [0]:
dictionary=Calculate_Mean_and_Variance(X_train,y_train)

In [524]:
print((dictionary))

{1: {0: [0.40625000000000006, 0.16391093474426813], 1: [0.3288690476190474, 0.015528830579850992], 2: [0.47544642857142855, 0.04937783446712017], 3: [0.6277573529411767, 0.01791120860108749], 4: [0.75, 0.19047619047619044], 5: [0.04040716803747534, 0.014993386310125064], 6: [0.140625, 0.12276785714285714]}, 0: {0: [0.3333333333333334, 0.16666666666666666], 1: [0.32653061224489793, 0.03543893747975379], 2: [0.18367346938775506, 0.00959766763848396], 3: [0.6125116713352008, 0.03148422767799932], 4: [0.6190476190476191, 0.24761904761904752], 5: [0.045704091962055035, 0.004755861763793262], 6: [0.09523809523809523, 0.09047619047619046]}}

NOW using PDF Equation  
Given a feature

In [0]:
def calculate_probability(x, mean, variance):
    exponent = math.exp(-(math.pow(x - mean, 2) / (2 * variance)))
    return (1 / (math.sqrt(2 * math.pi * variance))) * exponent

In [0]:
def predict(X_test,mean_variance):
    predictions = {}
    for _, row in X_test.iterrows():
        #print(_,row)
        results = {}
        for k, v in priors:
            p = 0
            for attr_name in list(X_test.columns.values):
                prob = calculate_probability(row[attr_name], mean_variance[
                    k][attr_name][0], mean_variance[k][attr_name][1])
                if prob > 0:
                    p += math.log(prob)
            results[k] = math.log(v) + p
        predictions[_] = max([key for key in results.keys() if results[
            key] == results[max(results, key=results.get)]])
    return predictions

In [0]:

predictions=predict(X_test,dictionary)

In [528]:
predictions

{4: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 26: 1,
 47: 1,
 57: 1,
 58: 1,
 61: 1,
 66: 1,
 68: 1,
 70: 1,
 77: 1,
 93: 1,
 94: 0}

In [529]:
X_test

           0         1         2         3    4         5    6
10  1.000000  0.000000  0.000000  0.607843  0.0  0.013807  0.0
68  0.000000  0.190476  0.600000  0.411765  1.0  0.102564  1.0
77  0.000000  0.285714  0.857143  0.803922  1.0  0.013807  1.0
57  1.000000  0.333333  0.571429  0.490196  1.0  0.013807  0.0
11  0.666667  0.857143  0.171429  0.784314  1.0  0.029304  0.0
4   0.000000  0.190476  0.171429  0.411765  1.0  0.013807  0.0
58  0.666667  0.333333  0.457143  0.058824  1.0  0.040575  0.0
66  0.000000  0.380952  0.314286  0.627451  0.0  0.013807  0.0
26  0.000000  0.333333  0.542857  0.588235  1.0  0.010519  0.0
13  0.000000  0.190476  0.057143  0.607843  0.0  0.042363  0.0
12  0.666667  0.333333  0.228571  0.607843  0.0  0.042363  0.0
94  0.000000  0.333333  0.285714  0.627451  0.0  0.039192  0.0
61  0.000000  0.380952  0.285714  0.647059  1.0  0.013807  0.0
93  0.666667  0.190476  0.514286  0.627451  0.0  0.039192  0.0
70  1.000000  0.047619  0.600000  0.960784  1.0  0.029304  0.0
47  0.666667  0.190476  0.971429  0.568627  1.0  0.036765  0.0

In [530]:
y_test

10    0
68    1
77    1
57    1
11    0
4     0
58    1
66    1
26    1
13    0
12    0
94    1
61    1
93    1
70    1
47    1
Name: reslt, dtype: int64

In [531]:
def acc(y_test,prediction):
  count=0
  for ind,row in y_test.iteritems():
    if row == prediction[ind]:
      count+=1
  return count/len(y_test)*100.0

accuracy=acc(y_test,predictions)
print(accuracy)

def calculate_accuracy(test_set, predictions):
    correct = 0
    for _, t in test_set.iterrows():
        if t["reslt"] == predictions[_]:
            correct += 1
    return (correct / len(test_set)) * 100.0

93.75

In [0]:
#done

In [0]:
# from sklearn.svm import SVC
# svclassifier = SVC(kernel='poly')
# svclassifier.fit(X_train, y_train)

In [0]:
# y_pred = svclassifier.predict(X_test)

In [0]:
# from sklearn.metrics import classification_report, confusion_matrix
# print(confusion_matrix(y_test,y_pred))
# print(classification_report(y_test,y_pred))

In [0]:
# X_train

LETS Normalize

In [0]:
# import pandas as pd
# from sklearn import preprocessing

# x =X_train.values #returns a numpy array

In [0]:
# min_max_scaler = preprocessing.MinMaxScaler()
# x_scaled = min_max_scaler.fit_transform(x)
# X_train= pd.DataFrame(x_scaled)

In [538]:
y_train

79    1
33    1
74    1
7     0
25    0
     ..
39    1
49    1
36    1
53    1
55    1
Name: reslt, Length: 85, dtype: int64

In [0]:
# from sklearn.svm import SVC
# svclassifier = SVC(kernel='rbf',degree=8,tol=1e-7,verbose=True,gamma='scale',shrinking=True)
# svclassifier.fit(X_train, y_train)
# y_pred = svclassifier.predict(X_test)

On Train

In [0]:
# y_pred_on_train=svclassifier.predict(X_train)

In [0]:
# from sklearn.metrics import classification_report, confusion_matrix
# print(confusion_matrix(y_test,y_pred))
# print(classification_report(y_train,y_pred_on_train))

ON Test Set

In [0]:
# from sklearn.metrics import classification_report, confusion_matrix
# print(confusion_matrix(y_test,y_pred))
# print(classification_report(y_test,y_pred))